@mixin dark-mode {
  --accent-primary-vivid: var(--accent-primary-lighten);
  --accent-primary-muted: var(--accent-primary-darken);

  --accent-secondary-vivid: var(--accent-secondary-lighten);
  --accent-secondary-muted: var(--accent-secondary-darken);

  --accent-tertiary-vivid: var(--accent-tertiary-lighten);
  --accent-tertiary-muted: var(--accent-tertiary-darken);

  /* text */
  --bg-pure: var(--black);
  --text-base: 250, 250, 252;
  --text-dim-1: 200, 200, 203;
  --text-dim-2: 138, 138, 142;
  --text-dim-3: 64, 64, 69;
  
  /* bg */
  --bg-base: 20, 20, 23;
  --bg-dim-1: 24, 24, 27;
  --bg-dim-2: 28, 28, 34;
  --bg-dim-3: 34, 34, 40;

  /* border */
  --border-base: 70, 70, 77;
  --border-dim-1: 50, 50, 56;
  --border-dim-2: 35, 35, 40;
  --border-dim-3: 25, 25, 29;

  /* State */
  --state-error: 255, 128, 142;
  --state-success: 39, 241, 110;
  --state-warning: 253, 220, 53;

  /* UI */
  --ui-size: 2.75em;
  --ui-px: 0.75em;
  --ui-py: 0.25em;
  --ui-ring: var(--accent-primary);
  // link
  --link-primary: var(--accent-secondary);
  --link-primary-vivid: var(--accent-secondary-vivid);
  // button
  --button-primary-bg: var(--accent-primary);
  --button-primary-bg-vivid: var(--accent-primary-vivid);
  --button-primary-color: var(--white);
  --button-primary-color-vivid: var(--white);
  --button-secondary-bg: var(--bg-dim-2);
  --button-secondary-bg-vivid: var(--bg-dim-3);
  --button-secondary-color: var(--white);
  --button-secondary-color-vivid: var(--white);
  // input
  --input-bg: var(--bg-base);
  --input-text: var(--text-dim-1);
  --input-border: var(--border-dim-2);
  --input-border--hover: var(--border-dim-1);
  --input-border--focus: var(--accent-secondary);
  --input-border--focus-hover: var(--accent-secondary-vivid);
  --input-placeholder: var(--text-dim-3);
  --input-readonly-bg: transparent;
  --input-readonly-text: var(--text-dim-2);
  --input-disabled-bg: var(--bg-dim-1);
  --input-disabled-text: var(--text-dim-2);
  --input-disabled-border: var(--border-dim-3);
  --input-disabled-placeholder: var(--text-dim-3);
  // select
  // - trigger
  --select-icon: var(--text-dim-3);
  // - container
  --select-arrow: var(--text-dim-3);
  --select-arrow--hover: var(--text-dim-2);
  --select-content-bg: var(--bg-dim-2);
  --select-content-border: var(--border-dim-2);
  // - option
  --select-option-text: var(--text-dim-2);
  --select-option-text--hover: var(--text-dim-1);
  --select-option-text--highlighted: var(--text-dim-1);
  --select-option-disabled-text: var(--text-dim-3);
  --select-option-bg: var(--bg-dim-1);
  --o-select-option-bg: 0;
  --select-option-bg--hover: var(--bg-dim-1);
  --o-select-option-bg--hover: 1;
  --select-option-checked-text: var(--text-base);
  --select-option-checked-text--hover: var(--text-base);
  --select-option-checked-bg: var(--bg-base);
  --o-select-option-checked-bg: 1;

  --o-ring: 0.4;

  /* Elements */
  // sidebar
  --bg-sidebar: var(--bg-dim-1);
}
