@mixin dark-mode {
  --accent-primary-vivid: var(--accent-primary-lighten);
  --accent-primary-muted: var(--accent-primary-darken);

  --accent-secondary-vivid: var(--accent-secondary-lighten);
  --accent-secondary-muted: var(--accent-secondary-darken);

  /* text */
  --text-x0: var(--white);
  --text-x1: 250, 250, 252;
  --text-x2: 200, 200, 203;
  --text-x3: 138, 138, 142;
  --text-x4: 64, 64, 69;
  
  /* bg */
  --bg-x0: var(--black);
  --bg-x1: 20, 20, 23;
  --bg-x2: 24, 24, 27;
  --bg-x3: 28, 28, 34;
  --bg-x4: 34, 34, 40;

  --bg-main: var(--bg-x1);
  --bg-card: var(--bg-x2);
  --bg-card-active: var(--bg-x3);

  /* border */
  --border-x0: 70, 70, 77;
  --border-x1: 50, 50, 56;
  --border-x2: 35, 35, 40;
  --border-x3: 25, 25, 29;

  /* State */
  --state-error: 255, 128, 142;
  --state-success: 39, 241, 110;
  --state-warning: 253, 220, 53;

  /* UI */
  --ui-size: 2.75em;
  --ui-px: 0.75em;
  --ui-py: 0.25em;
  --ui-ring: var(--accent-primary);
  // link
  --link-primary: var(--accent-secondary);
  --link-primary-vivid: var(--accent-secondary-vivid);
  // button
  --button-primary-bg: var(--accent-primary);
  --button-primary-bg-vivid: var(--accent-primary-vivid);
  --button-primary-color: var(--white);
  --button-primary-color-vivid: var(--white);
  --button-secondary-bg: var(--bg-x3);
  --button-secondary-bg-vivid: var(--bg-x4);
  --button-secondary-color: var(--white);
  --button-secondary-color-vivid: var(--white);
  // input
  --input-bg: var(--bg-x1);
  --input-text: var(--text-x2);
  --input-border: var(--border-x2);
  --input-border--hover: var(--border-x1);
  --input-border--focus: var(--accent-secondary);
  --input-border--focus-hover: var(--accent-secondary-vivid);
  --input-placeholder: var(--text-x4);
  --input-readonly-bg: transparent;
  --input-readonly-text: var(--text-x3);
  --input-disabled-bg: var(--bg-x2);
  --input-disabled-text: var(--text-x3);
  --input-disabled-border: var(--border-x3);
  --input-disabled-placeholder: var(--text-x4);
  // radio
  // - container
  --radio-bg: var(--bg-x3);
  // - option
  --radio-option-text: var(--text-x3);
  --radio-option-text--hover: var(--text-x2);
  --radio-option-bg: var(--bg-card);
  --o-radio-option-bg: 1;
  --radio-option-checked-text: var(--text-x1);
  --radio-option-checked-bg: var(--bg-card-active);
  --o-radio-option-checked-bg: 1;
  // select
  // - trigger
  --select-icon: var(--text-x4);
  // - container
  --select-arrow: var(--text-x4);
  --select-arrow--hover: var(--text-x3);
  --select-content-bg: var(--bg-x3);
  --select-content-border: var(--border-x2);
  // - option
  --select-option-text: var(--text-x3);
  --select-option-text--hover: var(--text-x2);
  --select-option-text--highlighted: var(--text-x2);
  --select-option-disabled-text: var(--text-x4);
  --select-option-bg: var(--bg-x2);
  --o-select-option-bg: 0;
  --select-option-bg--hover: var(--bg-x2);
  --o-select-option-bg--hover: 1;
  --select-option-checked-text: var(--text-x1);
  --select-option-checked-text--hover: var(--text-x1);
  --select-option-checked-bg: var(--bg-x1);
  --o-select-option-checked-bg: 1;

  --o-ring: 0.4;
}
